{%- set employee = frappe.get_doc("Employee", doc.employee) -%}
{%- set company = frappe.get_doc("Company", doc.company) -%}

<div class="page-break">
  <table style="width: 100%!important;">
    <tr>
      <!-- Kolom gambar kiri -->
      <td style="width: 20%; text-align: left; vertical-align: middle;">
        <img src="/files/logo-sth-print-format.jpg" style="height: 5rem; object-fit: contain;" />
      </td>

      <!-- Kolom teks kanan -->
      <td style="width: 80%; vertical-align: middle!important;">
        <p>{{ doc.company or '' }}</p>
        <p>{{ company.company_description or '' }} Tel: {{ company.phone_no or '' }}</p>
      </td>
    </tr>
  </table>
  <hr style="border: 1px solid black; margin: 0!important;">
  <div>
    <h3 class="text-center" style="font-weight: bold; margin-bottom: 0;">SURAT KEPUTUSAN</h3>
    <hr style="width: 15rem; border: 1px solid black; margin: 0 auto!important;">
    <h5 class="text-center" style="font-weight: bold; margin-top: 0;">NO: {{doc.name}}</h5>
  </div>
  <div class="mt-4">
    <h4 class="text-center" style="font-weight: bold; margin-bottom: 0;">TENTANG</h4>
    <h4 class="text-center" style="font-weight: bold; margin-bottom: 0; margin-top: 0;">PROMOSI KARYAWAN</h4>
  </div>
  <table>
    <tr>
      <td style="font-weight: bold; padding-left: 0!important;">Menimbang</td>
      <td>:</td>
      <td>
        1. Bahwa dalam rangka memperlancar kegiatan operasional perusahaan, dipandang perlu untuk melakukan perubahan
        status karyawan <br>
        2. Bahwa dalam rangka tertib administrasi, maka perubahan status tersebut perlu dituangkan dalam Surat Keputusan
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; padding-left: 0!important;">Mengingat</td>
      <td>:</td>
      <td>
        1. Kebijakan dan Prosedur Mutasi/Promosi <br>
        2. Struktur Organisasi dan Standard Tenaga Kerja
      </td>
    </tr>
  </table>
  <h4 class="text-center" style="font-weight: bold; margin-bottom: 0;">MEMUTUSKAN</h4>
  <table style="width: 100%;" class="table_content">
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;">Menetapkan</td>
      <td>:</td>
      <td style="width: 20%;"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;">Pertama</td>
      <td>:</td>
      <td>Nama</td>
      <td>:</td>
      <td>{{employee.employee_name or '-'}}</td>
    </tr>
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;"></td>
      <td></td>
      <td>NIK</td>
      <td>:</td>
      <td>{{employee.name or '-'}}</td>
    </tr>
    {% for row in doc.promotion_details %}
    {% if row.property in ["Designation", "Grade", "Unit", "Divisi", "Company", "Department"] %}
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;"></td>
      <td></td>
      <td>
        {% if row.property == "Designation" %}
        Jabatan Lama
        {% endif %}
        {% if row.property == "Grade" %}
        Pangkat Lama
        {% endif %}
        {% if row.property == "Unit" %}
        Bisnis Unit Lama
        {% endif %}
        {% if row.property == "Divisi" %}
        Divisi Lama
        {% endif %}
        {% if row.property == "Company" %}
        PT Lama
        {% endif %}
        {% if row.property == "Department" %}
        Department Lama
        {% endif %}
      </td>
      <td>:</td>
      <td>
        {% if row.property == "Designation" %}
        {%- set designation = frappe.get_doc("Designation", row.current) -%}
        {{ designation.designation_name or '-' }}
        {% endif %}
        {% if row.property in ["Grade", "Unit", "Divisi", "Company", "Department"] %}
        {{ row.current or '-' }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;"></td>
      <td></td>
      <td colspan="3"><span style="text-decoration: underline;">Ditetapkan</span> menjadi,</td>
    </tr>
    {% for row in doc.promotion_details %}
    {% if row.property in ["Designation", "Grade", "Unit", "Divisi", "Company", "Department"] %}
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;"></td>
      <td></td>
      <td>
        {% if row.property == "Designation" %}
        Jabatan Baru
        {% endif %}
        {% if row.property == "Grade" %}
        Pangkat Baru
        {% endif %}
        {% if row.property == "Unit" %}
        Bisnis Unit Baru
        {% endif %}
        {% if row.property == "Divisi" %}
        Divisi Baru
        {% endif %}
        {% if row.property == "Company" %}
        PT Baru
        {% endif %}
        {% if row.property == "Department" %}
        Department Baru
        {% endif %}
      </td>
      <td>:</td>
      <td>
        {% if row.property == "Designation" %}
        {%- set designation = frappe.get_doc("Designation", row.new) -%}
        {{ designation.designation_name or '-' }}
        {% endif %}
        {% if row.property in ["Grade", "Unit", "Divisi", "Company", "Department"] %}
        {{ row.new or '-' }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td style="width: 5%; font-weight: bold; padding-left: 0!important;">Kedua</td>
      <td>:</td>
      <td colspan="3">
        Surat Keputusan ini mulai berlaku efektif sejak tanggal
        {{ frappe.utils.formatdate(doc.promotion_date, "dd MMMM yyyy") }}
      </td>
    </tr>
  </table>
  <p class="mt-4">
    Sesuai dengan posisi dan Grade pemegang jabatan yang telah ditetapkan dalam Surat Keputusan ini, <br> maka segala
    hak dan kewajiban termasuk Compensation
    <br><br>
    Surat keputusan ini bisa ditinjau kembali sewaktu-waktu apabila diperlukan melalui pertimbangan dan mekanisme yang
    berlaku.
  </p>
</div>

<div class="section-break">
  <p class="text-center mt-5">
    Ditetapkan di: Jakarta <br>
    Pada tanggal: {{ frappe.utils.formatdate(doc.promotion_date, "dd MMMM yyyy") }}
  </p>
  <p class="text-center" style="margin-top: 5rem;">
    <span style="text-decoration: underline;">Rino Guntur</span> <br>
    Dept Sumberdaya Manusia
  </p>
  <p class="mt-5" style="text-decoration: underline; font-weight: bold;">Salinan dari SK ini disampaikan kepada:</p>
  <ol style="padding-left: 1.2rem;">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ol>
</div>