#page-komparasi-penawaran-supplier .title-text{
    max-width: 30vw;
}

.komparasion-style .tabulator-col-title, .komparasion-style .tabulator-cell{
    white-space: normal;
    word-break: break-all;
}

.komparasion-style .tabulator,.komparasion-style .tabulator-placeholder{
    background-color: white;
}

.komparasion-style #table-comparasion .tabulator-col,.modal .komparasion-style .tabulator-col{
    background-color: #365f81;
    color: white;
}
