/* div[id='page-Supplier Quotation'] .grid-heading-row .filter-row{ 
    display:none; 
} */

.modal .form-grid .data-row .row-index {
    display: unset;
}

.link-select-row .ellipsis {
    white-space: normal;
}

.container {
    max-width: 100%;
}