<style>
.grid-heading-row .filter-row {
    display: none;
}
</style>

{% var visible_columns = row.get_visible_columns(["item_code", "qty", "rate", "amount",
	"stock_uom", "uom", "discount_percentage", "warehouse"]); %}

{% if(!doc) { %}
	<div class="row">
		<div class="col-sm-6 col-xs-8">{%= __("Kode Barang") %}</div>
		<div class="col-sm-2 hidden-xs text-right">{%= __("Jumlah") %}</div>
		<div class="col-sm-2 hidden-xs text-right">{%= __("Harga") %}</div>
		<div class="col-sm-2 col-xs-4 text-right">{%= __("Sub Total") %}</div>
	</div>
{% } else { %}
	{% var visible_column_fieldnames = $.map(visible_columns, function(x, i) {return x.fieldname}); %}
	<div class="row">
		<div class="col-sm-6 col-xs-8">
			{%= __("Kode Barang") %}
			<strong>{%= doc.item_code %}</strong>
            
			{% if(doc.item_name != doc.item_code && in_list(visible_column_fieldnames, "item_name")) { %}
				{% if (doc.item_code) { %}<br>{% } %}
                {%= doc.item_name %}{% } %}

			{% include "templates/form_grid/includes/visible_cols.html" %}
		</div>

		<!-- qty -->
		<div class="col-sm-2 hidden-xs text-right">
			{%= doc.get_formatted("qty") %}
		</div>

		<!-- rate -->
		<div class="col-sm-2 hidden-xs text-right">
			{% if (!frappe.perm.is_visible("rate", doc, frm.perm)) { %}
				<span class="text-muted">{%= __("hidden") %}</span>
			{% } else { %}
				{%= doc.get_formatted("rate") %}
				{% if(doc.discount_percentage) { %}
				<br><span class="label label-default pull-right"
					title="{%= __("Discount")  %}">
					{%= -1 * doc.discount_percentage %}%</span>
				{% }%}
			{% } %}
		</div>

		<!-- amount -->
		<div class="col-sm-2 col-xs-4 text-right">
			{% if (!frappe.perm.is_visible("amount", doc, frm.perm)) { %}
				<span class="text-muted">{%= __("hidden") %}</span>
			{% } else { %}
				{%= doc.get_formatted("amount") %}
			{% } %}

			{% if (frappe.perm.is_visible("rate", doc, frm.perm)) { %}
			<div class="visible-xs text-muted">
				{%= doc.get_formatted("qty") %} <small>{%= doc.uom || doc.stock_uom %}</small>
				x {%= doc.get_formatted("rate") %}
			</div>
			{% } %}
		</div>
	</div>
{% } %}
