{% set gl_entries = frappe.db.sql("""
SELECT
a.account_number,
gle.account,
gle.debit,
gle.credit
FROM `tabGL Entry` as gle
JOIN `tabAccount` as a ON a.name = gle.account
WHERE gle.voucher_type = 'Payment Entry'
AND gle.voucher_no = %s
""", (doc.name,), as_dict=1) %}
{% set bank_account = frappe.get_doc("Bank Account", doc.bank_account) %}
{% set submit_time = frappe.db.sql("""
SELECT creation
FROM `tabVersion`
WHERE ref_doctype = 'Payment Entry'
AND docname = %s
AND data LIKE '%%docstatus%%0,1%%'
ORDER BY creation ASC
LIMIT 1
""", (doc.name,), as_dict=1) %}

<div class="page-break">
  <p>{{ doc.company or '' }}</p>
  <p>JAKARTA UTARA</p>

  <div style="background-color: #dcdcdc; border: 1px solid #000; text-align: center;">
    <p>VOUCHER PENERIMAAN BANK</p>
  </div>

  <table style="border: 1px solid #000; margin-top: 0.5rem;">
    <tr>
      <td style="padding-bottom: 0!important;">NO. VOUCHER</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;">{{ doc.name or '' }}</td>
      <td style="padding-bottom: 0!important;">DITERIMA DARI</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;">{{ doc.party_name or '' }}</td>
    </tr>
    <tr>
      <td style="padding-bottom: 0!important;">TGL. BAYAR</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;">{{ doc.get_formatted("reference_date") }}</td>
      <td style="padding-bottom: 0!important;">JUMLAH</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;">{{ frappe.format_value(doc.paid_amount, {"fieldtype": "Float"}) }}</td>
    </tr>
    <tr>
      <td style="padding-bottom: 0!important;">NAMA BANK</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;" colspan="4">{{ bank_account.bank or '' }}</td>
    </tr>
    <tr>
      <td style="padding-bottom: 0!important;">NO REK</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;" colspan="4">{{ bank_account.bank_account_no or '' }}</td>
    </tr>
    <tr>
      <td style="padding-bottom: 0!important;">ATAS NAMA</td>
      <td style="padding-bottom: 0!important;">:</td>
      <td style="padding-bottom: 0!important;" colspan="4">{{ bank_account.account_name or '' }}</td>
    </tr>
  </table>

  <table class="table_content" style="margin-top: 0.5rem;">
    <tr>
      <th>No.</th>
      <th>No. Akun</th>
      <th>Nama Akun</th>
      <th>Kode Kas</th>
      <th>Debet</th>
      <th>Kredit</th>
    </tr>
    {% for row in gl_entries %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ row.account_number }}</td>
      <td>
        {{ row.account }} <br>
      </td>
      <td>10910</td>
      <td>{{ frappe.format_value(row.debit, {"fieldtype": "Float"}) }}</td>
      <td>{{ frappe.format_value(row.credit, {"fieldtype": "Float"}) }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4" style="font-weight: bold; text-align: center;">Total</td>
      <td>{{ frappe.format_value(doc.paid_amount, {"fieldtype": "Float"}) }}</td>
      <td>{{ frappe.format_value(doc.paid_amount, {"fieldtype": "Float"}) }}</td>
    </tr>
  </table>

  <p style="margin-bottom: 0; margin-top: 1rem; font-weight: bold;">
    Catatan : {{ doc.note or '' }}
  </p>
  <p>Mata Uang : {{ doc.paid_from_account_currency or '' }},Kurs :1</p>

  <table class="table_ttd" style="margin-top: 1rem;">
    <tr>
      <th style="width: 25%!important;">Dibuat</th>
      <th style="width: 25%!important;">Diposting</th>
      <th style="width: 25%!important;">Disetujui</th>
      <th style="width: 25%!important;">Di Terima Dari</th>
    </tr>
    <tr>
      <td style="padding-top: 5rem!important;">{{ doc.owner or '' }}</td>
      <td style="padding-top: 5rem!important;"></td>
      <td style="padding-top: 5rem!important;"></td>
      <td style="padding-top: 5rem!important;">{{ doc.party_name or '' }}</td>
    </tr>
    <tr>
      <td>{{ frappe.utils.format_datetime(doc.creation, "dd-MM-yyyy HH:mm") }}</td>
      <td>
        {% if submit_time %}
        {{ frappe.utils.format_datetime(submit_time[0].creation, "dd-MM-yyyy HH:mm") }}
        {% endif %}
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>