<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Supplier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/sth/css/lib/toastr.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.css" rel="stylesheet">

    <style>
        /*body {
            background: url("/files/bg4.svg");
            background-position: center;
            background-repeat: no-repeat;
        }*/

        .loader {
            width: 23px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 3px solid;
            border-color: #ffffff #0000;
            animation: l1 1s infinite;
        }

        @keyframes l1 {
            to {
                transform: rotate(.5turn)
            }
        }

        * {
            font-size: 14px;
        }

        table td {
            padding: 2px 7px !important;
        }

        table td,
        table td div {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <div class="pt-2">
        {% if status == "Open" %}
        <div class="container-fluid">
            <div class="card-title fs-2">Supplier Quotation</div>
            <hr>
            <form method="post" id="submit-form">
                <div>
                    <div class="mb-3 row">
                        <div class="col-xl-3 col-md-6 mb-2">
                            <label class="form-label">Supplier</label>
                            <input type="text" class="form-control form-control-sm" value="{{ supplier or '' }}"
                                name="supplier" readonly required>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-2">
                            <label class="form-label">Valid Till</label>
                            <input type="text" class="form-control form-control-sm datepicker" name="valid_date"
                                required>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-2">
                            <label class="form-label">Estimated Delivery</label>
                            <input type="text" class="form-control form-control-sm datepicker" name="estimated_date"
                                required>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-2">
                            <label for="file-upload" class="form-label">File Upload</label>
                            <input class="form-control form-control-sm" type="file" id="file-upload" accept=".pdf"
                                required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Items</label>
                        <div class="table-responsive">
                            <table class="table table-bordered mb-1" id="items">
                                <colgroup>
                                    <col style="width: 1%; text-align: center;">
                                    <col style="width: 1%; text-align: center;">
                                    <col style="width: 12%;">
                                    <col style="width: 15%;">
                                    <col style="width: 10%;">
                                    <col style="width: 13%;">
                                    <col style="width: 15%;">
                                    <col style="width: 7%;">
                                    <col style="width: 13%;">
                                    <col style="width: 10%;">
                                    <col style="width: 3%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>No</th>
                                        <th>Kode Barang</th>
                                        <th>Nama Barang</th>
                                        <th>Merk</th>
                                        <th>Negara Buatan</th>
                                        <th>Spesifikasi</th>
                                        <th>Jumlah</th>
                                        <th>Harga</th>
                                        <th>Sub Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for idx,item in enumerate(items) %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input form-check-input-row" type="checkbox">
                                            </div>
                                        </td>
                                        <td data-field='idx'>{{ idx + 1 }}</td>
                                        <td data-field="item_code">
                                            {{ item.item_code }}
                                            <input type="hidden" name="item_code[]" value="{{ item.item_code }}">
                                        </td>
                                        <td data-field="item_name">
                                            {{ item.item_name }}
                                            <input type="hidden" name="item_name[]" value="{{ item.item_name }}">
                                        </td>
                                        <td data-field="merk">
                                            <input type="text" name="merk[]" class="form-control form-control-sm"
                                                style="width: 100%;">
                                        </td>
                                        <td data-field="country">
                                            <select class="form-select" name="country[]">
                                                {% for data in country %}
                                                <option value="{{ data }}">{{ data }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td data-field="desc">
                                            <textarea class="form-control form-control-sm" name="desc[]"
                                                rows="1">{{ item.description }}</textarea>
                                        </td>
                                        <td data-field="qty">
                                            <input type="number" min="1" name="qty[]"
                                                class="form-control form-control-sm" value="{{ item.qty | int }}"
                                                style="width: 100%;">
                                        </td>
                                        <td data-field="rate">
                                            <input type="text" name="rate[]"
                                                class="form-control form-control-sm number-format" style="width: 100%;">
                                        </td>
                                        <td data-field="subtotal">
                                            <div class="display" data-value="0">Rp. 0</div>
                                        </td>
                                        <td><Button class="btn btn-light btn-sm btn-duplicate">Duplicate</Button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="btn-delete" style="display: none;">
                            <button class="btn btn-sm btn-danger rounded-3">Delete</button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label class="form-label">Charges</label>
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0" id="charges">
                                    <colgroup>
                                        <col style="width: 30%">
                                        <col style="width: 35%">
                                        <col style="width: 35%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Percent/Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-type="discount">
                                            <td>Discount(%)</td>
                                            <td>
                                                <input type="text" name="discount"
                                                    class="form-control form-control-sm w-100 number-format">
                                            </td>
                                            <td class="amount">Rp. 0</td>
                                        </tr>
                                        <tr data-type="ongkos_angkut">
                                            <td>Ongkos Angkut</td>
                                            <td>
                                                <input type="text" name="ongkos_angkut"
                                                    class="form-control form-control-sm w-100 number-format">
                                            </td>
                                            <td class="amount" data-value="0">Rp. 0</td>
                                        </tr>
                                        <tr data-type="ppn_ongkos_angkut">
                                            <td>PPN Ongkos Angkut(%)</td>
                                            <td>
                                                <input type="text" name="ppn_ongkos_angkut"
                                                    class="form-control form-control-sm w-100 number-format">
                                            </td>
                                            <td class="amount" data-value="0">Rp. 0</td>
                                        </tr>
                                        <tr data-type="pbbkb">
                                            <td>PBBKB</td>
                                            <td>
                                                <input type="text" name="pbbkb"
                                                    class="form-control form-control-sm w-100 number-format">
                                            </td>
                                            <td class="amount">Rp. 0</td>
                                        </tr>
                                        <tr data-type="pph_22">
                                            <td>PPH 22</td>
                                            <td>
                                                <input type="text" name="pph_22"
                                                    class="form-control form-control-sm w-100 number-format">
                                            </td>
                                            <td class="amount">Rp. 0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="my-3">
                                <label class="form-label">Sub Total</label>
                                <input type="text" name="net_total" data-value="0" value="Rp.0"
                                    class="form-control form-control-sm w-50" readonly disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Grand Total</label>
                                <input type="text" name="grand_total" value="Rp.0"
                                    class="form-control form-control-sm w-50" readonly disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <label>Payment Terms</label>
                            <textarea name="terms" class="form-control form-control-sm" rows="3"></textarea>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Keterangan</label>
                            <textarea name="keterangan" class="form-control form-control-sm" rows="3"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary d-flex gap-2 ms-auto" id="btn-submit" type="submit">
                        <div class="loader" style="display: none;"></div>
                        Submit
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="container-fluid">
            <div class="alert alert-info text-center" role="alert">
                <h5>Sorry, Quotation has been closed</h5>
            </div>
        </div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="/assets/sth/js/lib/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.8.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="/assets/sth/js/lib/numeral.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.js"></script>
        <script>{% include "templates/includes/form_supplier.js" %} </script>
</body>

</html>